@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @* Normally, use a resource file *@
    @(System.Globalization.CultureInfo.CurrentUICulture.Name == "de" ? "Hallo freund!" : "Hello friend!")
</p>

